* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0 100px;
  background-image: linear-gradient(#033747, #012733);
}

.nav__logo-text {
  font-size: 30px;
  font-weight: bold;
  float: left;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.nav__list {
  float: right;
}

.nav__item {
  display: inline-block;
  list-style-type: none;
}

.nav__link {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 30px;
  color: white;
  text-decoration: none;
}
.nav__link:hover {
  color: #ff8c69;
}

.card {
  display: block;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  font-size: 15px;
}

.card__heading {
  justify-content: center;
}

/* .container-main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
} */

.card__form {
  text-align: center;
  padding: 30px;
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.form__label {
  margin-bottom: 5px;
}

.form__input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

.form__submit {
  border-radius: 5px;
  background-color: #012733;

  /* background-color: rgb(60, 156, 235); */
  color: white;
  width: 100%;
  padding: 15px;
  font-size: 16px;
}
